<section class="banner sfc-multi-embed">
  <div class="bg"></div>
  <div class="row" style="max-width: 100% !important">
    <div class="medium-12 columns">
      <div class="head-grp">
        <div class="sfc-label">
          <h3 class="sfc-kicker-link">Breaking</h3>
        </div>
        <h1 class="sfc-h1-head">same-sex marriage</h1>
      </div>
    </div>
  </div>
  <div class="row" style="max-width: 100% !important">
    <div class="medium-12 columns">
      <p class="sfc-deck">Golden State Warriors celebration leads to spree of fires, looting throughout the SF and Oakland</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <p class="sfc-deck-sty2">The Supreme Court to make its historic same-sex marriage ruling hours from now.</p>
    </div>
    <div class="medium-9 columns">
      <div class="story-head-block">
        <a id="kicker-link-1" href="">
          <h4>
            <strong>&raquo;</strong>
            <span class="reg-head" id="kicker-hed-1">
              Supreme Court ruling could plunge gay marriage into chaos
            </span>
          </h4>
        </a>
      </div>
    </div>
  </div>
<section>
