<section class="banner sfc-breaking-embed">
  <div class="row" style="max-width: 100% !important">
    <div class="medium-2 columns">
      <div class="sfc-label">
        <h3 class="kicker-link">Breaking</h3>
      </div>
    </div>
    <div class="medium-8 columns">
      <div class="head-grp">
        <a class="story-link" href="" title="Read more">
          <h1 class="sfc-h1-head">CURRY FALLS HARD</h1>
        </a>
        <p class="sfc-deck">Golden State Warriors celebration leads to spree of fires, looting throughout the SF and Oakland</p>
      </div>
    </div>
    <div class="medium-2 columns"></div>
  </div>
<section>
