<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">SF Chronicle Large Freeform Builder</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a class="right-off-canvas-toggle" href="#"><span>Edit</span></a></li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="//wcm.hearstnp.com">WCM</a></li>
        <li><a href="#">Simple Breaking News Builder</a></li>
      </ul>
    </section>
  </nav>
</div>

<aside class="cd-panel from-right" {% if config.DEBUG %}style="z-index: 2;"{% endif %}>
	<div class="cd-panel-container">
		<div class="cd-panel-content">
      <h1>Editor</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam praesentium, quis consequatur eligendi quaerat autem illum dignissimos tenetur, doloremque iusto dolor, officia quas libero blanditiis culpa! Est, hic. Quas, maxime.</p>
      <p>Example: <a target="_blank" href="http://www.sfchronicle.com/sports/item/test-bigger-breaking-mod-40985.php">Demo (must be logged into WCM)</a></p>
      {% include '_multi-form.html' %}
    </div> <!-- cd-panel-content -->
	</div> <!-- cd-panel-container -->
</aside> <!-- cd-panel -->
