<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Headline
        <input id="headline" type="text" placeholder="Add your headline here" />
      </label>
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <label>Dek
        <textarea id="dek" name="dek" rows="3" cols="40" placeholder="Craziness in San Francisco"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Blurb
        <textarea id="blurb" name="blurb" rows="3" cols="40" placeholder="That little piece of text on the left"></textarea>
      </label>
    </div>
  </div>


  <div class="row">
    <div class="large-6 columns">
      <label>Show Breaking label?</label>
      <input checked type="radio" name="breaking-label" value="Yes" id="breakingYes"><label for="breakingYes">Yes</label>
      <input type="radio" name="breaking-label" value="No" id="breakingNo"><label for="breakingNo">No</label>
    </div>
    <div class="large-6 columns">
      <label>Background Image URL (optional)
        <input id="bg-img" type="text" placeholder="Paste background image URL here .." />
      </label>
    </div>
  </div>

  <div class="row">
    <hr>
    <button class="button tiny add_field_button">Add More Fields</button>
    <div class="input_fields_wrap">
      <section class="kicker-menu">
        <div class="small-8 columns">
          <label>Story Headline</label>
          <input id="kicker-hed-1" type="text" placeholder="Headline">
        </div>
        <div class="small-4 columns">
          <label>Story URL</label>
          <input id="kicker-link-1" type="text" placeholder="http://sfchronicle.com/">
        </div>
      </section>
    </div>
  </div>

</form>
