<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Headline
        <input type="text" placeholder="Add your headline here" />
      </label>
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <label>Dek
        <textarea name="name" rows="3" cols="40" placeholder="Craziness in San Francisco"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Blurb
        <textarea name="name" rows="3" cols="40" placeholder="That little piece of text on the left"></textarea>
      </label>
    </div>
  </div>


  <div class="row">
    <div class="large-6 columns">
      <label>Show Breaking label?</label>
      <input checked type="radio" name="breaking-label" value="Yes" id="pokemonRed"><label for=" ">Yes</label>
      <input type="radio" name="breaking-label" value="No" id="pokemonBlue"><label for="pokemonBlue">No</label>
    </div>
    <div class="large-6 columns">
      <label>Background Image URL (optional)
        <input type="text" placeholder="Paste background image URL here .." />
      </label>
    </div>
  </div>

</form>
