{% extends 'base.html' %}

{% block title %}Simple Breaking News Builder | SF Chronicle {% endblock %}

{% block content %}

<main class="embed">
  <section class="banner">
    <div class="row" style="max-width: 100% !important" data-equalizer>
      <div class="medium-2 columns" data-equalizer-watch>
        <div class="label">
          <h3 class="kicker-link">Breaking</h3>
        </div>
      </div>
      <div class="medium-8 columns">
        <div class="head-grp">
          <a class="story-link" href="">
            <h1 class="sfc-h1-head"></h1>
          </a>
          <p class="sfc-deck"></p>
        </div>
      </div>
      <div class="medium-2 columns"></div>
    </div>
  <section>
</main>


<div class="row">
  <div class="large-12 columns">
    <header>
      <h1>Breaking News Builder</h1>
    </header>
  </div>
</div>

<div class="row">
  <hr>
  <div class="medium-6 columns">
    <section class="editor">
      <form role="form">

        <div class="form-group">
          <label for="banner-selector">Banner type</label>
          <select name="banner-type" id="banner-selector">
            <option value=""></option>
            <option value="">Text Only</option>
            <option value="">With Image</option>
          </select>
        </div>

        <div class="form-group">
          <label for="headline">Headline</label>
          <input type="text" class="form-control" id="headline" placeholder="Enter your headline here">
        </div>

        <div class="form-group">
          <label for="body">Body text</label>
          <input type="text" class="form-control" id="body" placeholder="Enter your message here">
        </div>

        <div class="form-group">
          <label for="story-link">Story link</label>
          <input type="text" class="form-control" id="story-link" placeholder="URL to story">
        </div>

        <div class="form-group">
          <label for="background-image-link">Background image link</label>
          <input type="text" class="form-control" id="background-image-link" placeholder="URL to background image">
        </div>


      </form>
    </section>

  </div>
  <div class="medium-6 columns">
    <button>Generate HTML embed</button>
    <pre></pre>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function () {
    App.simple();
  });
</script>
{% endblock %}
