@import "../bower_components/foundation/scss/foundation/components/forms";

.sfc-breaking-embed {
  max-width: 1200px;
  margin: 0 auto;
}

.header-branding a.logo-link {
  height: 35px !important;
}
