$header: 'AntennaBlack', sans-serif;
$dek: "AntennaMedium", sans-serif;
$dek-alt: "Popular", sans-serif;
$body: "FarnhamText", serif;

$red: #B71C1C;

.banner {
  background-color: black;
  padding: 12% 20px;
  position: relative;
  margin-bottom: 10px;
  top: -20px;
  display: inline-block;
  clear: both;
  width: 100%;
}

.prem_homepage_3 .digital_pass_promo {
 float: left;
 width: 100%;
 margin: -20px 0 20px 0;
}

.bg {
  position: absolute;
  background-image: url(http://ww3.hdnux.com/photos/35/04/01/7618662/5/1400x1400.jpg);
  opacity: 0.3;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-size: cover;
  background-position: 50% 50%;
}

.header.clearfix {
  display: none;
}

.sfc-h1-head {
  font-family: $header;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.75rem;
  line-height: 1em;
}

.sfc-deck {
  font-family: $dek-alt;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

p {
  &.sfc-deck {
    margin-bottom: 50px;
  }
  &.sfc-deck-sty2 {
    color: white;
    font-family: $body;
    font-size: .9em;
    line-height: 1.4em;
    padding-right: 20px;
    margin-bottom: 50px;
  }
}

.medium-2.columns {
  padding: 0px;
}

.sfc-kicker-link {
  font-family: $header;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}

.sfc-label {
  margin-bottom: 20px !important;
}

.story-head-block h4 {
  color: white;
  padding-bottom: 10px;
  font-size: 1.4em;
  text-indent: -1.5em;
  padding-left: 1.5em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 12px;
  strong {
    font-family: $dek;
    margin-right: 10px;
  }
}

.reg-head {
  font-family: $body;
  font-weight: 100;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen {
 .banner {
   margin-top: 0px;
 }
}
