//@import 'fonts';

$header: 'AntennaBlack', sans-serif;
$dek: "AntennaMedium", sans-serif;
$dek-alt: "Popular", sans-serif;
$body: "FarnhamText", serif;

$red: #B71C1C;

.banner {
  background-color: black;
  margin-top: -20px;
  padding: 12% 20px;
  position: relative;
}

.bg {
  position: absolute;
  background-image: url(http://ww3.hdnux.com/photos/35/04/01/7618662/5/1400x1400.jpg);
  opacity: 0.3;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-size: cover;
  background-position: 50% 50%;
}

.header.clearfix {
  display: none;
}

.sfc-h1-head {
  font-family: $header;
  color: white;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.75rem;
  line-height: 1em;
}

.sfc-deck {
  font-family: $dek-alt;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

p {
  &.sfc-deck {
    margin-bottom: 50px;
  }
  &.sfc-deck-sty2 {
    color: white;
    font-family: $body;
    font-size: 1rem;
    line-height: 1.4em;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}

.medium-2.columns {
  padding: 0px;
}

.kicker-link {
  font-family: $header;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}

.label {
  display: block;
  width: 120px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #B71C1C;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.stroy-head-block h4 {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  font-size: 1.2em;
  strong {
    text-transform: uppercase;
    font-family: $dek;
    margin-right: 10px;
  }
}

span.reg-head {
  font-family: $body;
}
